.aboutMe {
    display: flex;
    flex-direction: column;
    background-color: #e9edf0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    .botones{
        display: flex;
        gap: 100px;
        margin-top: 20px;
        button{
            margin-top: 10px;
            background: black;
            height: 40px;
            width:170px;
            a{
                text-decoration: none;
                color: white;
                outline: none;
            }
        }
    }
}
